:root {
  --slate: #434455;
  --white: #fff;
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
body{
  font-family: "Roboto",sans-serif;
  color: var(--slate);
  line-height: 24px;
}
/* navbar */

.nav_logo_span {
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.nav_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.navbar_a_tags {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.navbar_a_tags:hover {
  color: var(--ocean);
}
.navbar_a_tags:focus {
  color: var(--ocean);
}
.navbar_address {
  font-style: normal;
}
.navbar_address_a_tags {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.navbar_address_a_tags:hover {
  color: var(--ocean);
}
/* header */
.main_header {
  background-color: var(--navy-blue);
}
.main_header_h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main_header_btn {
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.main_header_btn:hover {
  background-color: var(--ocean);
}
.main_header_btn:focus {
  background-color: var(--ocean);
}
/* third section */
.third_section_h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.third_section_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* our team */
.our_team {
  background-color: var(--cloud);
}
.our_team_h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.our_team_list {
  background-color: var(--white);
}
.our_team_list_h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.our_team_list_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* our portfolio */
.our_portfolio_h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.our_portfolio_h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.our_portfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* footer */
.footer {
  background-color: var(--navy-blue);
}
.footer_p {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
.footer_span{
  color: var(--cloud);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}